<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuowei.smarthome">

    <!-- 往sdcard中写入数据的权限 存储崩溃日志 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 存储崩溃日志 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取手机状态（IMEI号，用户注册登录） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 下面是sdk需要的权限 -->
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- wifi状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForgetPawwordActivity" />
        <!--<activity android:name=".activity.SplashActivity" />-->
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainTActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />

        <!-- sdk初始化 -->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="bd478fc6e7a1fd4c0dfef8b5dc0fb7af" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="587308b9677baa1b9c00095f" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="your-app-secret" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="your-rsa-secret" />

        <activity android:name=".activity.SecurityActivity" />
        <activity android:name=".activity.AirActivity" />
        <activity android:name=".activity.WaterActivity" />
        <activity android:name=".activity.ElectricityActivity" />
        <activity android:name=".activity.LightsActivity" />
        <activity android:name=".activity.FloorHeatingActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.EquipmentActivity" />
        <activity android:name=".activity.SettingActivity"></activity>

        <!-- XLINK 内网服务 -->
        <service android:name="io.xlink.wifi.sdk.XlinkUdpService" />
        <!-- XLINK 公网服务 -->
        <service android:name="io.xlink.wifi.sdk.XlinkTcpService" />

        <service android:name=".SmartHomeServer" />
    </application>

</manifest>